
/* index.php */

.indexcontainer{
    width:fit-content;
    margin: 50% 48% 0% 48%;
    height:fit-content;
    text-align: center;
}
indexcontainer a hover{ color:blue}

   #btn{  
    font-size: 25px;  
    } 
/* register.php */

body{
    background-color:rgb(167, 205, 214);
}


.Homecontainer{
     width:40%;
     height:auto;
     margin:5% 30% 5% 30% ;
     padding:3%;
     color:white;
     border: 2px solid rgb(171, 179, 177);
     background-color:white;
     box-shadow: 10px 15px rgb(171, 179, 177);
}

label{
        margin-bottom:1%;
      }

h3{color:red;
   margin:2% 35% 5% 10%;
   width:90%;  
    height:10%;
    transition: width 1s;
   padding:2% 2% 2% 17%}

h3:hover {
    background-color:skyblue;
    border: 2px solid black;
    color:blue;
          }

button {
    width:40%;
    margin-left:30%;
    overflow: auto;
    transition: all 2s;
        }

button hover
    {
    background-color: rgb(80, 191, 255);
    width:90%;
    }

.link
    {
    margin-left:30%;
    color:red;
    }

/* Login.php */

.Homecontainer hover{Color:red;}

/* response.php */

.alertbox
{
   width:30%;
   margin: 10% 35% 0% 35%;
   height: fit-content;
   background-color: brown;
}